<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks App</title>
    <link rel="stylesheet" href="static/Css/style.css">
</head>
<body>    
    <h1>Building a Drinks App Api with Flask</h1>
    <p>This is a Simple Api about My Favourite(<mark>40%</mark>) Drinks Powered by Flask.</p>
    <p> It's simply a backend app hence consists of a database and flask micro-framework.</p>
    <p>I used Sql-Alchemy as the Orm to  easily connect, render, post, delete and update data.</p>
    <p>Below are links you can use  to view the data ,either by id 
        or all in general.You can as well as manipulate
        the data through methods such as updating and deletion of records.</p>
    <p>For Delete,update and Post Methods you'll have to use Postman(working with Apis tool) to manipulate the data.</p>    
    <h2><a href="http://127.0.0.1:5000/drinks">See all drinks Here</a></h2>
    <h2><a href="http://127.0.0.1:5000/drinks/1">See drink with id of 1</a></h2>
    <h2><a href="http://127.0.0.1:5000/drinks/2">See drink with id of 2</a></h2>
    <h2><a href="http://127.0.0.1:5000/drinks/3">See drink with id of 3(Deleted)</a></h2>
    <h2><a href="http://127.0.0.1:5000/drinks/4">See drink with id of 4</a></h2>
    <h2><a href="http://127.0.0.1:5000/drinks/5">See drink with id of 5(Deleted)</a></h2>
    <footer>Powered by Flask</footer>
    <footer id="date">Created on
    </footer>
    <script src="static/Css/Js/index.js"></script>   
</body>
</html>